version: 2

jobs:

  # -------------------------------------------------------------------------------
  # Generator
  # -------------------------------------------------------------------------------

  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/gapic-generator-kotlin/generator
    steps:
      - checkout:
          path: ~/gapic-generator-kotlin
      - run:
          name: "Checkout submodules"
          command: |
            git submodule init
            git submodule update --remote
      - restore_cache:
          key: generator-v0-{{ checksum "build.gradle" }}
      - run: 
          name: Download dependencies
          command: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: generator-v0-{{ checksum "build.gradle" }}
      - run: 
           name: Build and run checks
           command: ./gradlew build
      - run: 
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit        
      - run: 
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)
          when: always
      - persist_to_workspace:
          root: ./..
          paths:
            - generator/build/libs
            - generator/build/distributions

  dockerize:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/gapic-generator-kotlin/generator
    steps:
      - checkout:
          path: ~/gapic-generator-kotlin
      - attach_workspace:
          at: ./..
      - setup_remote_docker
      - run:
          name: Dockerize
          command: docker build -t kgen .
      - run:
          name: Save docker image
          command: docker save -o kgen.tar kgen
      - persist_to_workspace:
          root: .
          paths:
            - kgen.tar

  # -------------------------------------------------------------------------------
  # Examples
  # -------------------------------------------------------------------------------  

  build_examples:
    working_directory: ~/gapic-generator-kotlin/example-api-clients
    docker:
      - image: circleci/android:api-27-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout:
          path: ~/gapic-generator-kotlin
      - attach_workspace:
          at: ./..
      - restore_cache:
          key: examples-v0-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: examples-v0-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Create placeholder key
          command: touch app/src/main/res/raw/sa.json
      - run:
          name: Run checks
          command: ./gradlew check
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results

  # -------------------------------------------------------------------------------
  # Tests
  # -------------------------------------------------------------------------------

  test_showcase:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/gapic-generator-kotlin/showcase-test
    steps:
      - checkout:
          path: ~/gapic-generator-kotlin
      - attach_workspace:
          at: ./..
      - restore_cache:
          key: showcase-v0-{{ checksum "build.gradle" }}
      - run: 
          name: Download dependencies
          command: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: showcase-v0-{{ checksum "build.gradle" }}
      - run:
          name: Download showcase
          command: |
            sudo sh -c "curl -sSL https://github.com/googleapis/gapic-showcase/releases/download/v0.0.5/gapic-showcase-v1alpha2-0.0.5-linux-amd64 > /usr/local/bin/showcase"
            sudo sh -c "chmod +x /usr/local/bin/showcase"
      - run:
          name: Run showcase
          command: /usr/local/bin/showcase start
          background: true
      - run:
          name: Test showcase
          command: ./gradlew test

  test_example:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/gapic-generator-kotlin
    steps:
      - checkout:
          path: ~/gapic-generator-kotlin
      - attach_workspace:
          at: .
      - restore_cache:
          key: example-server-v0-{{ checksum "example-server/build.gradle" }}-{{ checksum "example-client/build.gradle" }}
      - run: 
          name: Download dependencies
          command: ./gradlew dependencies
          working_directory: ~/gapic-generator-kotlin/example-server
      - run: 
          name: Download dependencies
          command: ./gradlew dependencies
          working_directory: ~/gapic-generator-kotlin/example-client
      - save_cache:
          paths:
            - ~/example-server/.gradle
            - ~/example-client/.gradle
          key: example-server-v0-{{ checksum "example-server/build.gradle" }}-{{ checksum "example-client/build.gradle" }}
      - run:
          name: Run server
          command: ./gradlew run
          working_directory: ~/gapic-generator-kotlin/example-server
          background: true
      - run:
          name: Wait for the server to spin up
          shell: /bin/sh
          command: |
              wget --retry-connrefused --waitretry=1 --timeout=15 --tries=30 http://localhost:8080
              :
      - run:
          name: Run client
          command: ./gradlew run
          working_directory: ~/gapic-generator-kotlin/example-client

  # -------------------------------------------------------------------------------
  # Deploy
  # -------------------------------------------------------------------------------
      
  release_gcr_snapshot:
    docker:
      - image: google/cloud-sdk
    working_directory: ~/gapic-generator-kotlin/generator
    steps:
      - setup_remote_docker
      - run:
          name: Setup gcloud
          command: |
            echo ${GCLOUD_SERVICE_KEY} > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud config set project ${GCLOUD_PROJECT_ID}
            gcloud auth configure-docker
      - attach_workspace:
          at: ./..
      - run:
          name: Load docker image
          command: docker load -i kgen.tar
      - run:
          name: Tag snapshot
          command: docker tag kgen gcr.io/kotlin-gapic/kgen:${CIRCLE_BRANCH}-${COMMIT_SHA1}
      - run:
          name: Push snapshot
          command: docker push gcr.io/kotlin-gapic/kgen:${CIRCLE_BRANCH}-${COMMIT_SHA1}

# -------------------------------------------------------------------------------
# CI Workflow
# -------------------------------------------------------------------------------

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - dockerize:
          requires:
            - build
      - build_examples:
          requires:
            - build
      - test_showcase:
          requires:
            - build
      - test_example:
          requires:
            - build
      - release_gcr_snapshot:
          requires:
            - build
            - dockerize
            - build_examples
            - test_showcase
            - test_example
        #   filters:
        #     branches:
        #       only: master
